# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
ezfalconv2/version.py
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
docs/examples/EX4_run_01/data/bound_mask.npy
docs/examples/EX4_run_01/data/self_PE.npy
docs/examples/EX4_run_01/data/shell_mass.npy
docs/examples/EX4_run_01/data/shell_pos.npy
docs/examples/EX4_run_01/data/shell_vel.npy
docs/examples/EX4_run_01/data/star_mask.npy
docs/examples/EX4_run_01/data/times.npy
docs/examples/EX4_run_02/data/bound_mask.npy
docs/examples/EX4_run_02/data/self_PE.npy
docs/examples/EX4_run_02/data/shell_mass.npy
docs/examples/EX4_run_02/data/shell_pos.npy
docs/examples/EX4_run_02/data/shell_vel.npy
docs/examples/EX4_run_02/data/star_mask.npy
docs/examples/EX4_run_02/data/times.npy
ezfalcon/bin/activate
ezfalcon/bin/activate.csh
ezfalcon/bin/activate.fish
ezfalcon/bin/Activate.ps1
ezfalcon/bin/coverage
ezfalcon/bin/coverage-3.12
ezfalcon/bin/coverage3
ezfalcon/bin/debugpy
ezfalcon/bin/debugpy-adapter
ezfalcon/bin/docutils
ezfalcon/bin/f2py
ezfalcon/bin/fits2bitmap
ezfalcon/bin/fitscheck
ezfalcon/bin/fitsdiff
ezfalcon/bin/fitsheader
ezfalcon/bin/fitsinfo
ezfalcon/bin/fonttools
ezfalcon/bin/ipython
ezfalcon/bin/ipython3
ezfalcon/bin/jsonschema
ezfalcon/bin/jupyter
ezfalcon/bin/jupyter-kernel
ezfalcon/bin/jupyter-kernelspec
ezfalcon/bin/jupyter-migrate
ezfalcon/bin/jupyter-run
ezfalcon/bin/jupyter-troubleshoot
ezfalcon/bin/jupyter-trust
ezfalcon/bin/normalizer
ezfalcon/bin/numpy-config
ezfalcon/bin/pip
ezfalcon/bin/pip3
ezfalcon/bin/pip3.12
ezfalcon/bin/plotly_get_chrome
ezfalcon/bin/py.test
ezfalcon/bin/pybabel
ezfalcon/bin/pyftmerge
ezfalcon/bin/pyftsubset
ezfalcon/bin/pygmentize
ezfalcon/bin/pytest
ezfalcon/bin/python
ezfalcon/bin/python3
ezfalcon/bin/python3.12
ezfalcon/bin/rst2html
ezfalcon/bin/rst2html4
ezfalcon/bin/rst2html5
ezfalcon/bin/rst2latex
ezfalcon/bin/rst2man
ezfalcon/bin/rst2odt
ezfalcon/bin/rst2pseudoxml
ezfalcon/bin/rst2s5
ezfalcon/bin/rst2xetex
ezfalcon/bin/rst2xml
ezfalcon/bin/samp_hub
ezfalcon/bin/showtable
ezfalcon/bin/showtable-astropy
ezfalcon/bin/sphinx-apidoc
ezfalcon/bin/sphinx-autogen
ezfalcon/bin/sphinx-build
ezfalcon/bin/sphinx-quickstart
ezfalcon/bin/tox
ezfalcon/bin/tqdm
ezfalcon/bin/ttx
ezfalcon/bin/virtualenv
ezfalcon/bin/volint
ezfalcon/bin/wcslint
ezfalcon/share/jupyter/kernels/python3/kernel.json
ezfalcon/share/jupyter/kernels/python3/logo-32x32.png
ezfalcon/share/jupyter/kernels/python3/logo-64x64.png
ezfalcon/share/jupyter/kernels/python3/logo-svg.svg
ezfalcon/share/jupyter/labextensions/jupyterlab-plotly/install.json
ezfalcon/share/jupyter/labextensions/jupyterlab-plotly/package.json
ezfalcon/share/jupyter/labextensions/jupyterlab-plotly/static/340.330950829c5d59eca692.js
ezfalcon/share/jupyter/labextensions/jupyterlab-plotly/static/remoteEntry.bbf25df5110252151416.js
ezfalcon/share/jupyter/labextensions/jupyterlab-plotly/static/style.js
ezfalcon/share/man/man1/ipython.1
ezfalcon/share/man/man1/tox.1
ezfalcon/share/man/man1/ttx.1
ezfalcon/lib64
ezfalcon/pyvenv.cfg
.acceleration._falcon import gravity; import inspect; print(inspect.signature(gravity))"
e:', np.allclose(pot1, pot4, atol=1e-10))
e(acc1, acc2),
e(acc3, acc6, atol=1e-10),
e(acc4, acc5, atol=1e-14),
e(pot3, pot6, atol=1e-10))
e(pot1, pot2))
e(pot4, pot5, atol=1e-14))
np
sanity_checks/CHECK_01_External_Potential.ipynb
diagnostics/test_galpy_versions.sh
docs/examples/EX5_GC_stream/data/bound_mask.npy
docs/examples/EX5_GC_stream/data/self_PE.npy
docs/examples/EX5_GC_stream/data/shell_mass.npy
docs/examples/EX5_GC_stream/data/shell_pos.npy
docs/examples/EX5_GC_stream/data/shell_vel.npy
docs/examples/EX5_GC_stream/data/times.npy
docs/tutorials/python_generators.ipynb
ezfalcon/version.py
ezfalcon/version.py
nemo/

ezfalcon/bin/keyring
